body{
    background: #5ca7ed;
}

#box{
    position: absolute;
    top:250px;
    left: 400px;
    height: 100px;
    width: 400px;
    background: #ffebeb;
    border: 0;
    border-radius: 15px;
}

h1{
    padding-left: 35px;
}